.msg-password {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: var(--primary-clair);
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  font-size: 20px;
}

.alert-body {
  font-size: 1.8rem;
  text-align: center;
}

.input-modal-container {
  input {
    margin: 20px auto;
    background-color: var(--background);
    display: block;
    width: 300px;
    font-size: 18px;
    height: 40px;
    color: var(--contrast-projet);
    padding: 0 20px;
    line-height: 46px;
    border-radius: 6px;
    border: none;
    box-shadow: var(--box-shadow);
    outline: none;
  }
}

.password-btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    background: none;
    border: var(--primary-clair) solid 2px;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin: 5px 15px;
    font-size: 1.8rem;

    &:last-of-type {
      background-color: var(--primary-clair);
      border-color: var(--primary-clair);
    }
  }
}




